<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> <%= title %></title>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        rel="stylesheet" />
        <script src="https://kit.fontawesome.com/997049d577.js" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="../css/styles.css">

</head>
<body>
    <header class = "top-header"> 
        <a href="#main">ir al contenido principal </a>
        <div class = "logoybarra">
        <img src="../images/logo_chaltu_bags.jpg" class = "logo"  alt="logo">
        <h1>
            AMIGURUMIS
        </h1>
        
        <div class="form" action="#" method="GET" role="search">
            <div class="input">Buscar mochilas, Riñoneras y más<i class="fa fa-search"></i></div>
          </i>
        </div>
        <h2>
            <div class="compraencuotas"> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y con tarjeta de crédito de todos los bancos</div>
        </h2>
        </div>
<!-- site navbar -->
           <%- include('./partial/navbar') -%>
    
</header>

<main>
    <section id="main">
        <h3>Novedades</h3>

        <form method="" action="">
<div> 
            <label for="nomApe"> Nombre y apellido *</label>
<input type="text" name="nomApe" id="nomApe" required>
</div>
<div>
    <label for="mail"> Email *</label>
    <input type="email" name="mail" id="mail" required>
</div>
<div>
    <label for="ws">WhatsApp </label>
    <input type="number" name="ws" id="ws">
</div>
<div>
    <label for="consulta">cual es su consulta: </label>
    <textarea name="consulta"  id="consulta"  rows="4" cols="50"> </textarea>
    
</div>

<div>

    <input type="submit" name="submit" value="Enviar">
</div>

        </form>

    </section>
</main>
<!-- footer -->
<%- include('./partial/footer') -%>
</body>
</html>