<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>AMIGURUMIS </title>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        rel="stylesheet" />
        <script src="https://kit.fontawesome.com/997049d577.js" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="../css/styles.css">

        
</head>
<body>
    
    <header class = "top-header"> 
        <a href="#main">PAGINA PRINCIPAL</a>
        <div class = "logoybarra">
        <img src="../images/logo_chaltu_bags.jpg" class = "logo"  alt="logo">
        <h1>
            AMIGURUMIS
        </h1>
        
        <div class="form" action="#" method="GET" role="search">
            <div class="input">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem id aut neque! Omnis sed, quo distinctio aut ex impedit nam ea maxime pariatur, suscipit velit voluptatibus animi voluptate incidunt earum.<i class="fa fa-search"></i></div>
          </i>
        </div>
        <h2>
            <div class="compraencuotas"> <i class="fa-solid fa-hand-holding-dollar"></i> Paga en efectivo y/o con tarjeta</div>
        </h2>
        </div>

           
    <%- include("./partial/navbar") -%>
</header>


    <main>
    <section id="main">
        <h3>Exclusivos</h3>
        <div class = "listado">
            <article>
                <img src="../images/riñonera_ala.jpg" alt="Pavo Real">
                <div class="main-article">
                    <p class="precio">COP $ 50.000</p>
                    <i class="fas fa-truck"></i>                
                <h4 class="descripcion">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia distinctio repellendus aliquam magnam sint, veniam dicta, incidunt fuga esse et autem cumque nemo est voluptatum natus cum architecto nihil? Sit? </h4>
            </div>            
            </article>

            <article>
                <img src="../images/img_Mochila30lts.jpg" alt="Leon">
                <div class="main-article"></div>                
                <p class="precio">COP $ 25.000</p>                    
            <i class="fas fa-truck"></i>
                    <h4 class="descripcion">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere debitis quidem, cumque dicta quod numquam assumenda doloremque error eligendi, porro sed voluptatum reiciendis eaque laudantium modi ducimus et quos ipsum? </h4>
                </div>
            </article>

            <article>
                <img src="../images/img_Neceser.jpg" alt="Perritos">
                <div class="main-article">
                    <p class="precio">COP $ 30.000</p>                    
                <i class="fas fa-truck"></i>
                    <h4 class="descripcion">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad omnis similique ea libero voluptatum, hic voluptatem. Itaque consectetur dolores sed iusto ex quo sapiente reiciendis, nemo eum accusamus in dicta. </h4>
                </div>
            </article>

            <article>
                <img src="../images/img_mini_bags.jpg" alt="Girasol">
                <div class="main-article">
                    <p class="precio">COP $ 48.000</p>
                    
                    <i class="fas fa-truck"></i>
                    <h4 class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quas, natus temporibus, consequatur suscipit sequi voluptates maxime vel dolores maiores vitae soluta laborum praesentium sapiente sunt dolore officia accusamus. Ut.  </h4>
                </div>
            </article>
        </div>
    </section>

    <section>
        <h3 Ofertas class= "ofertas">Ofertas</h3>
        <div class = "listado">
            <article>
                <img src="../images/img_Botinero_teo.jpg" alt="" class="Cisne">
                <div class="main-article">
                    <p class="precio">COP $ 29.000</p>
                    <p class="descuento">40% off</p>
                    <i class="fas fa-truck"></i>
                    <h4 class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere voluptas perferendis enim. Odio provident sed quisquam dolorem quas corrupti inventore nihil optio ad, neque atque recusandae vitae, laborum voluptatem sapiente?</h4>
                </div>
            </article>

            <article>
                <img src="../images/img_Mochila_Aguila.webp" alt="Libre">
                <div class="main-article">
                    <p class="precio">COP $ 32.000</p>
                    <p class="descuento">20% off</p>
                    <i class="fas fa-truck"></i>
                    <h4 class="descripcion">Libre </h4>
                </div>
            </article>

            <article>
                <img src="../images/img_riñonera_toro.jpg" alt="Gatito">
                <div class="main-article">
                    <p class="precio"> COP $ 24.000</p>
                    <p class="descuento">10% off</p>
                    <i class="fas fa-truck"></i>
                    <h4 class="descripcion">Gatito</h4>
                </div>
            </article>

            <article>
                <img src="../images/img_Mochila_Athix.webp" alt="Relax">
                <div class="main-article">
                    <p class="precio">COP $ 29.000</p>
                    <p class="descuento">5% off</p>
                    <i class="fas fa-truck"></i>
                    <h4 class="descripcion">Lorem ipsum dolor sit amet consectetur </h4>
                </div>
            </article>
        </div>  
        
    </section>
</main>
<!-- footer -->
<%- include('./partial/footer') -%>
</body>
</html>