<footer>
    <div class="cajasfooter">
        <section>
            <div><i class="fa-solid fa-credit-card fa-2xl"></i></div>
            <h4>Recibimos pagos con tarjeta de credito y/o debito</h4>
            <p>AMIGURUMIS Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quia eos totam! Suscipit
                laudantium distinctio, veritatis, consectetur, expedita dicta ut ea illo quod quaerat ab? Ad laudantium
                provident quas sunt.</p>
        </section>
        <section>
            <div><i class="fa-solid fa-gift fa-2xl"></i></div>
            <h4>Envío gratis desde COP $ 15.000 </h4>
            <p>CONTAMOS CON ENVIOS A TODO EL PAIS</p>
        </section>
        <section>
            <div><i class="fa-solid fa-user-shield fa-2xl"></i></div>
            <h4>CONFIA EN NUESTROS ARTICULOS</h4>
            <p>AMIGURMUIS ACEPTA DEVOLUCIONES</p>
        </section>
    </div>
    <div class="rs-flex-container" v">
        <h2>Seguinos: </h2>
        <div class="flex-item-fb">
            <a href="#" aria-label="link Facebook, se abre en una ventana nueva"><i
                    class="fa-brands fa-facebook fa-beat-fade"></i></a> </a>
        </div>
        <div class="flex-item-ig">
            <a href="#" aria-label="link instagram, se abre en una ventana nueva"><i
                    class="fa-brands fa-instagram fa-beat-fade"></i> </a>
        </div>
        <div class="flex-item-tg">
            <a href="#" aria-label="link telegram, se abre en una ventana nueva"><i
                    class="fa-brands fa-telegram fa-beat-fade"></i> </a>
        </div>

        <div class="enlaces">
            <h3>Ubicacion</h3>
            <div class="enlace">
                <li><a href="#">Direccion Carrera 19c</a></li>
                <li><a href="#">Celular +57 316 294 26</a></li>
                <li><a href="#">Popayan - Cauca - Colombia </a></li>
                <li><a href="#">Correo Yximenahu@msn.com</a></li>
            </div>
        </div>
        <div class="rs-flex-container" v">
            <h2>Visitanos: </h2>
            <div class="flex-item-fb">
                <a href="#" aria-label="link Facebook, se abre en una ventana nueva"><i
                        class="fa-brands fa-facebook fa-beat-fade"></i></a> </a>
            </div>
            <div class="flex-item-ig">
                <a href="#" aria-label="link instagram, se abre en una ventana nueva"><i
                        class="fa-brands fa-instagram fa-beat-fade"></i> </a>
            </div>
            <div class="flex-item-tg">
                <a href="#" aria-label="link telegram, se abre en una ventana nueva"><i
                        class="fa-brands fa-telegram fa-beat-fade"></i> </a>
            </div>


        </div>
        <p>Copyright © 2023 AMIGURUMIS</p>
</footer>