<nav>
    <div class = "menu_tienda">
        <div class= "items_menu_tienda" ><a href="/">Inicio</a></div>
        <div class= "items_menu_tienda" ><a href="/products/list">Productos</a></div>
        <div class= "items_menu_tienda" ><a href="#">Ofertas</a></div>        
        
        <div class= "items_menu_tienda" ><a href="/contacto">Contacto</a></div>
    </div>
    </nav>

<a href="#" class="hamburguer-button"  role="menu">
    <i class="fa-solid fa-bars"></i>
</a>
